
.bg-custom {
    background-color: #020017;
}
.jumbotron {
    color: white;
    text-align: center;
    background:transparent; 
    height: 80vh;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    margin-top: 50px;
}
.text {
    text-align: left;
    border-left: 2px solid #ffffff;
    padding-left: 15px; 
    margin-left: -15px;
    padding-bottom: -20px;
}
.text>h1 {
    font-size: 3rem;
    font-weight: 700;
}
.text>p {
    color: #d1d1d1;
    font-weight: 300;
}
.about {
    padding: 50px 0px;
}
.about h3 {
    color: #0066bc;
}
.nopadding {
    padding: 0px;
}
.portfolio {
    background-color: #f6f6f6;
    padding-top: 50px; 
}
.portfolio>.row {
    margin: 0px;
}
.portfolio .img-fluid:hover {
    opacity: 0.75;
    transition-duration: 0.2s;
    background-color: #000;
    cursor: pointer;

}
#about, #portfolio, #home, #contact  {
    height: 1px;
    width: 100%;
    margin-top: -50px; 
    margin-bottom: 50px; 
}
.offer {
    min-height: 400px;
    background: transparent;
    padding: 50px 0px;
    text-align: center;
    color: #f3f3f3;
}
.contact {
    padding: 50px 0px;
    background-color: #f8f8f8;
    color: #0066bc;
}
.input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #737373; 
    color: #979797;
    outline: none;
    padding: 0 0 0 15px;
    margin-bottom: 5px;
}
.textarea {
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid #737373; 
    border-radius: 5px; 
    min-height: 150px;
    color: #979797;
    padding: 15px;
    outline: none;
    margin-top: 5px;
}

.margintop25 {
    margin-top: 25px;
}
.btn {
    margin-left: 15px;
    margin-top: 15px;
}
.footer {
    background-color: #020017;
    text-align: center;
    padding: 30px;
    color: #d1d1d1;
}
.social {
    margin: 15px 8px 15px 8px;
    height: 40px;
}
@media only screen and (max-width: 575px) {
    .text {
        border: none;
    }
}
@media only screen and (max-width: 374px) {
    .text>h1 {
        font-size: 2.5rem;
    }
}